<div class="page-vrtiual-xlogingxv1" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <div class="login-box mat-elevation-z2" fxLayout="row" fxLayoutAlign="center stretch">
      <div class="logo">
        <img src="assets/images/logo_x_388.png" alt="">
      </div>
      <div class="form" fxLayout="column" fxLayoutAlign="center stretch">
        <div class="inputs-holder" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input matInput placeholder="pseudo" type="text">
            <mat-hint>Give your pseudo!</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input matInput placeholder="passowrd" type="password">
            <mat-hint>password here !</mat-hint>
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent">CONNECT</button>
      </div>
    </div>
  </div>
</div>
