<div fxLayout="row" fxFlex fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center start" class="white">
    <h2 class="mat-display-1">Ohh, Where I'AM</h2>
    <p class="mat-subheading-1"> sorry , but it seems that you miss the target , check again your URL / PAGE .</p>
    <p class="mat-subheading-1">in case u are sure about the page , it may be a server error , so conact the super code hero
       from here <a href="mailto:amirs-m-s@live.com?subject=error page access">Amir</a> </p>
  </div>
</div>
